body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff9f9;
    color: #222;
    margin: 20px;
}

h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 94, 52);
    display: inline-block;
    padding: 6px 10px;
    margin: 0 0 12px 0;
}

p {
    font-size: 16px;
    background-color: beige;
    text-align: justify;
    padding: 8px;
    margin: 0 0 12px 0;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    margin: 10px 20px;
    padding: 0;
}

dl {
    margin: 10px 20px;
    border: 4px solid #ccc;
    padding: 10px 20px;
}

dt {
    font-weight: bold;
    margin-top: 8px;
}

dd {
    margin: 0 0 8px 1.5em;
}
table {
    margin: 15px 30px;
    padding: 1px;
    border: 3px solid green;
}
th, td {
    margin: 15px 30px;
    padding: 10px;
    border: 1px solid green;
}
th {
    background-color: lightgray;
    font-weight: 10000;
}