body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff9f9;
    color: #222;
    margin: 20px;
}

h1 {
    width: 100%;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 94, 52);
    text-align: center;
    padding: 20px 0px;
    margin: 20px auto;
}
h2 {
    width: 90%;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(179, 201, 183);
    text-align: center;
    padding: 10px 10px;
    margin: 20px auto;
}
p {
    width:90%;
    font-size: 1rem;
    background-color: beige;
    text-align: justify;
    padding: 8px;
    margin: 20px auto;
}


dl {
    margin: 10px 20px;
    border: 4px solid #ccc;
    padding: 10px 20px;
}

dt {
    font-weight: bold;
    margin-top: 8px;
}

dd {
    margin: 0 0 8px 1.5em;
}
table {
    width: 75%;
    margin: 15px auto;
    padding: 1px;
    border: 3px solid green;
}
th, td {
    margin: 15px 30px;
    padding: 10px;
    border: 1px solid green;
}
th {
    background-color: lightgray;
    font-weight: 10000;
}
code {
    background-color: #e1d3ef;
    padding: 2px 4px;
    line-height: 1.5;
    font-family: Consolas, "Courier New", monospace;
}